    
    /*CUSTOM FONTS*/
    @font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf); /*REPLACE WITH SYMLINK ON LIVE SITE, maybe?*/
  font-display: swap;    
}
            @font-face {
  font-family: wingding;
  src: url(fonts/wingding.ttf);
  font-display: swap;    
}
   @font-face {
  font-family: Cookie;
  src: url(fonts/Cookie-Regular.ttf);
     font-display: swap;
    }
    /*END CUSTOM FONTS*/
    body {
  background-image:url(../images/TeethOS311.PNG);
   background-position: 50% -50%; 
  background-repeat: no-repeat;
    background-color:#7334A3;
    text-align:center;
      font-family: 'Ubuntu', serif, sans-serif;
    p {
      position: relative;
      color:#5fc1f5;
     z-index:0;
    }
 
    a {
      position: relative;
      color:#ccc;
      z-index:3;
      text-decoration: none;
    }
    h1, h2, h3, h4, h5 {
      position: relative;
      color:#5fc1f5;
      text-shadow: 1px 0 0 #572c78, 0 -1px 0 #572c78, 0 1px 0 #572c78, -1px 0 0 #572c78 !important;
      z-index:3;
    }
    .p-margin{
    position: relative;
    margin-left: 10%; 
    margin-right: 10%;
    z-index:3;
    }
    div {
      padding-top:5px;
      padding-bottom:5px;
      margin:auto;
      width:95%;
    background-color: transparent;  
    border: double;
    border-color: #7334A3; 
      z-index:-1;
    }
    
      .table {
    background-color: #823fb5;  
    }
    
        .page-container {
      padding-top:5px;
      padding-bottom:5px;
      margin:auto;
      width:95%;
    background-color: transparent;  
    border: none;
    /*background-image:url(images/vaporTile.png);*/
      z-index:3;
    }
    
    img {
    background-color:#8b47bf;
    border: double;
    border-color: #7334A3; 
    
    }
    
    /*LOGO TEXT*/
    .logo {
      font-family: 'Cookie', serif, sans-serif; 
      font-size: 120px;
      position: absolute;
      top: -10px;
      left: 70px;
      text-decoration: none;
     
    }
    
    .autotable {
     padding-top:inherit;
     padding-bottom:inherit;
     overflow-x:auto;
     border:none;
      
    }
    
    /*Some Table Styling*/
 th, td {
   color:white;
  border:3px double #222;
  outline-color:#7334A3;
   border-color: #7334A3;
   background-color:#8b47bf;
   font-size:24px;
   margin-left: auto;
  margin-right: auto;
    transition: all 0.2s;
}
    
    th:hover,td:hover {
    outline-color:#8b47bf;
   border-color: #8b47bf;
   background-color:#7334A3;
    }
    table {
    margin-left: auto;
    margin-right: auto;
    z-index:3;
    }
.overlay {
    position: relative;
  
    margin: 15px;
    text-align: center;
    transition: all 0.2s;
}
    .overlay:hover {
    color:yellow;
      
    }
    
    .overlay:active {
    color:#7334A3;
    }
    /*end of table styling*/
    
    .autoimgsize img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    }
    
    .tableimg {
    border-style: none;
    margin-bottom:-6px;
    }

 /*END HIDE ITEMS*/           
  .jazzbanner
    {
  background-image: url("/web/20231016022100im_/https://teethy.ca/images/grid.png");
  background-repeat:round;
  background-repeat-y: no-repeat;
  min-width:90%;
  max-width: 100%;
  height: 4.2vh;
  border:none;
   
    }
      
    .left-col-head {
   
    background-image: url("/web/20231016022100im_/https://teethy.ca/images/col-head.png");
    background-repeat:no-repeat;
    height:93px;
    min-width: 100%;
    max-width: 100%;
    border:none;
    position: absolute;
    top: 39px;
    left: 25px;
    background-color:transparent;
z-index:1;
    
    }
    
    .left-col-leg {
     
      padding:0px;
    background-image: url("/web/20231016022100im_/https://teethy.ca/images/col-leg.png");
    background-repeat:repeat-y;
    height:3690px;
    min-width: 100%;
    max-width: 100%;
    border:none;
    position: absolute;
    top: 88px;
    left: 0px;
    background-color:transparent;
 z-index:1;
    }
     .left-col-bottom {
     
       padding:0px;
      -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
    background-image: url("/web/20231016022100im_/https://teethy.ca/images/col-head.png");
    position:absolute;
    background-repeat:no-repeat;
    height:93px;
    min-width: 100%;
    max-width: 100%;
    border:none; 
    background-color:transparent;
    bottom:-2.5%;
  z-index:1;
    }
    /*===================================================*/
          
    .right-col-head {
    background-image: url("/web/20231016022100im_/https://teethy.ca/images/col-head.png");
    background-repeat:no-repeat;
    height:93px;
    min-width: 100%;
    max-width: 100%;
    border:none;
    position: absolute;
    top: 39px;
   
    right: -1705px;
    background-color:transparent;
   z-index:1;
    
    }
    
    .right-col-leg {
    background-image: url("/web/20231016022100im_/https://teethy.ca/images/col-leg.png");
    background-repeat:repeat-y;
    height:3680px;
    min-width: 100%;
    max-width: 100%;
    border:none;
    position: absolute;
    top: 88px;
    left: 0px;
    background-color:transparent;
  z-index:1;
     
    }
     .right-col-bottom {
      -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
    background-image: url("/web/20231016022100im_/https://teethy.ca/images/col-head.png");
    position:absolute;
    background-repeat:no-repeat;
    height:93px;
    min-width: 100%;
    max-width: 100%;
    border:none; 
    background-color:transparent;
    bottom:-2.5%;
    z-index:1;
     
    }
    
    .ani-con {
      
      border:none;
      position: relative;
      width:90vw;
      height:60vh;
      margin-bottom:-75px;
      padding-bottom:2%;
    }
    .ani-logo {
      border:none;
      animation-name: ani-logo;
      position: relative;
      right:20px;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      width:90%;
    }
    
    .ani-logo2 {
      border:none;
      animation-name: ani-logo2;
      position: relative;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      width:90%;
    }
    
        .ani-con2 {
      padding-top:3%;
      border:none;
      position: relative;
      width:90%;
      height:60%;
      display:none;
    }
    
@keyframes ani-logo {
  0% {box-shadow: 0px 0px 40px #0ec9e6;top:-50px;width:40%;}
  10% {box-shadow: 0px 0px 30px #dbd407;top:0px;width:35%;}
  20% {box-shadow: 0px 0px 40px #0ec9e6;top:-50px;width:40%;}
  30% {box-shadow: 0px 0px 30px #dbd407;top:0px;width:35%;}
  40% {box-shadow: 0px 0px 40px #0ec9e6;top:-50px;width:40%;}
   50% {box-shadow: 0px 0px 30px #dbd407;top:0px;width:35%;}
   60% {box-shadow: 0px 0px 40px #0ec9e6;top:-50px;width:40%;}
   70% {box-shadow: 0px 0px 30px #dbd407;top:0px;width:35%;}
   80% {box-shadow: 0px 0px 40px #0ec9e6;top:-50px;width:40%;}
   90% {box-shadow: 0px 0px 30px #dbd407;top:0px;width:35%;}
  100% {box-shadow: 0px 0px 40px #0ec9e6;top:-50px;width:40%;}
  
    }
    
    @keyframes ani-logo2 {
  0% {box-shadow: 0px 0px 40px #0ec9e6;}
  10% {box-shadow: 0px 0px 30px #dbd407;}
  20% {box-shadow: 0px 0px 40px #0ec9e6;}
  30% {box-shadow: 0px 0px 30px #dbd407;}
  40% {box-shadow: 0px 0px 40px #0ec9e6;}
   50% {box-shadow: 0px 0px 30px #dbd407;}
   60% {box-shadow: 0px 0px 40px #0ec9e6;}
   70% {box-shadow: 0px 0px 30px #dbd407;}
   80% {box-shadow: 0px 0px 40px #0ec9e6;}
   90% {box-shadow: 0px 0px 30px #dbd407;}
  100% {box-shadow: 0px 0px 40px #0ec9e6;}
  
    }
    
    
     /*HIDE WHEN SCREEN TOO SMALL*/
@media (max-width:1275px) {
  h1#hideitems {
    display: none;
    
  }
  a#hideitems {
    display: none;
    
  }
  div#hideitems {
  display: none;
  }
  div#itemshow {
  
  display:flex;
  }
      } 
    
    @media (max-width:1800px) {
  
  div#hideitemscol {
  display: none;
  }
      }
    
    
    /*======================================= COPY OVER TO LIVE SITE HERE AND BELOW =================================================================================*/
.open-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* The popup form - hidden by default */
.form-popup {
  display:none;
  position: fixed;
  top:10%;
  left:25%;
  margin:auto;
  border:7px double #572c78; /* Internal Line of outline*/
  z-index: 1000;
  height:85%;
  width:50%;
  background-color:#ac79d2;
   opacity: initial;
 overflow-y:auto;
}

   .form-popup p {
        text-shadow: 1px 0 0 #111, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111;
        font-size:16px;
     font-weight:bold;
   }
  
.h2popup {
    position: relative;
    top: -21px;
    font-family: monospace, serif, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #FDA1FF;
    width: 100%;
    height: 22px;
    border-bottom: 1px #572c78 solid;
   opacity: initial;
}
  
  .h2popup-body {
    position: relative;
    top: -32px;
    font-family: monospace, serif, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #FDA1FF;
    width: 100%;
    height: 22px;
    border-bottom: 1px #572c78 solid;
   opacity: initial;
}
    .minimise {
    position: relative;
    margin-right: 0;
    top: -19px;
    width: 18px;
    height: 8px;
    border: 2px outset;
    background-color: lightgray;
    z-index: 3;
	}
	
	.minimise:active {
    position: relative;
    margin-right: 0;
    top: -19px;
    width: 18px;
    height: 8px;
    border: 2px inset;
    background-color: #999999;
    z-index: 3;
}
.handle {
    position: absolute;
    margin-left: 0;
    top: 0px;
    width: 22px;
    height: 12px;
    border: none;
    border-right: 1px solid #572c78;
    background-color: #dede;
    z-index: 3;
}
   .handle-dash {
    position: relative;
    color: white;
    font-size: 34px;
    top: -17px;
	user-select: none
}
    .suppopup {
      position:relative;
      color:black;
      font-size:20px;
      top:-8px;
      text-shadow:none;
	  user-select: none
    }
/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
  
}


/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
    
.cusbutton {
    display: inline-block;
    border-radius: 3px;
    background-color: #7334A3;
    border: outset;
    color: #5fc1f5;
    text-align: center;
    font-size: 18px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
    font-family: monospace;
    border-color: #8b47bf;
  z-index:1002;
   opacity: initial;
}
    /*.cusbutton:hover {
      color:#7334A3;
      background-color:#5fc1f5;
      border-color: #8b47bf;
    }*/
.cusbutton:active {
    border: inset;
    background-color: #5f2d86;
    border-color: #8b47bf;
   opacity: initial;
}

    
	.form-window {
  display:inline;
  position: fixed;
  top:5%;
  left:5%;
  margin:auto;
  border:7px double #572c78; /* Internal Line of outline*/
  z-index: 1000;
  height:85%;
  width:90%;
  background-color:#ac79d2;
   opacity: initial;
 overflow-y:auto;
}
   .form-window p {
        text-shadow: 1px 0 0 #111, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111;
        font-size:16px;
     font-weight:bold;
   }
	
	
.divsticky {
    position: sticky;
    top: 0px;
	left: 0px;
    padding-top: 3px;
    padding-bottom: 0px;
    margin: auto;
    width: 100%;
    background-color: transparent;
    border: none;
    border-color: #7334A3;
    z-index: 1;
	}

	table.desktoptable {
	width:100%;
	}
	
	table.desktoptable td {
	background-color:transparent;
	/*DEBUG BORDERS*/
	border-style:none;
	border-width:1px;
	/*END OF DEBUG BORDERS*/
	height:65px;
	
	max-height:65px;
	width:65px;
	
	max-width:65px;
	}
	table.desktoptable img {
	border:none;
	width:auto;
	height:auto;
	background-color:transparent;
	margin:0px;
	}
	
	table.desktoptable div {
	border:none;
	}
	
	table.desktoptable p {
	font-family: monospace;
	font-size:12px;
	text-shadow:none;
	color:black;
	top:-6px;
	margin:0px;
	}

	
	.program {
	display:none;
	position:absolute;
	top:90%;
	left:5%;
	z-index:1;
	border:none;
	background-color:transparent;
	max-width:65px;
	max-height:65px;
	}
	.program img {
	position:relative;
	top:0px;
	left:0px;
	border:none;
	background-color:transparent;
	}
	.program p {
	color:white;
	font-size:12px;
	font-family: monospace;
	position:relative;
	top:-15px;
	}